/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagenes/fondo/fondo01.avif'); /* Ruta de la imagen */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la pantalla */
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco semitransparente para mejorar la legibilidad */
}

header {
    display: flex;
    justify-content: center; /* Centra todo el contenido dentro del header */
    align-items: center; /* Alinea verticalmente los elementos */
    position: relative; /* Para permitir la alineación del logo a la derecha */
    background-color: #333; /* Fondo negro en el header */
    color: white; /* Asegura que el texto sea visible sobre el fondo negro */
    padding: 30px;
}

/*---------------------------------------------------------------------------*/
/*------------------- Contenedor para el título centrado --------------------*/

.titulo-container {
    text-align: center; /* Asegura que el título esté centrado */
    flex-grow: 1; /* Hace que el contenedor del título ocupe todo el espacio disponible */
}
/*---------------------------------------------------------------------------*/
/*----------------------------- CSS para el logo ----------------------------*/

.logo {
    position: absolute; /* Posiciona el logo a la derecha */
    right: 10px; /* Ajusta la distancia desde el borde derecho */
    width: 200px; /* Ajusta el tamaño del logo */
    height: auto;
}

h1 {
    margin: 0;
}

.catalogo {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap; /* Permite que los productos se ajusten en múltiples filas en pantallas pequeñas */
}

.producto {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px; /* Espacio entre los productos */
}

.producto:hover {
    transform: translateY(-10px);
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.detalles-producto {
    display: none;
    text-align: center;
    margin-top: 20px;
}

/*---------------------------------------------------------------------------*/
/*--------------- Centrar texo: nombre, descripcion y precio ----------------*/

#producto-nombre, #producto-descripcion, #producto-precio {
    text-align: center;
}

/*---------------------------------------------------------------------------*/
/*----------------- Centrar imagen principal del producto -------------------*/

#imagen-principal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#imagen-principal {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

/*---------------------------------------------------------------------------*/
/*---------------------- Botones de flechas iqz y der -----------------------*/

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#flecha-izquierda {
    left: 100px;
}

#flecha-derecha {
    right: 100px;
}

.flecha:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/*---------------------------------------------------------------------------*/
/*-------------------- Centrar imágenes de navegación -----------------------*/

.imagenes-detalles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Asegura que las imágenes se acomoden bien en varias filas si es necesario */
}

.imagenes-detalles img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}

.navegacion-imagenes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*---------------------------------------------------------------------------*/
/*-------------------- Contenedor  del botón "Volver" -----------------------*/

.volver-container {
    display: flex;
    justify-content: center;
}

/*---------------------------------------------------------------------------*/
/*------ Estilo botones "Volver", "Flecha-Izquierda" y "Flecha-Derecha" -----*/

.btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #45a049;
}

/*---------------------------------------------------------------------------*/
/*------------------------ Fondo de pie de pagina ---------------------------*/

footer {

    padding: 30px; /* Alto de franja de pie de pagina. */
    background-color: #333; /* Color de franja de pie de pagina. */
    color: white; /* Color de texto de pie de pagina. */

    text-align: center; /* Texto centrado de pie de página. */


}

/*---------------------------------------------------------------------------*/
/*-------------- CSS para agregar sangría en los comentarios ----------------*/

.comentarios p {
    font-family: 'Verdana', sans-serif; /* Cambia la fuente */
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    color: #000000; /* Cambia el color a negro */
    text-align: left; /* Alinea el texto a la izquierda */
    text-indent: 20px; /* Agrega una sangría de 20px al principio del párrafo */
}

/*---------------------------------------------------------------------------*/
/*------------------ Responsividad para pantallas pequeñas ------------------*/

@media (max-width: 768px) {
    .catalogo {
        flex-direction: column; /* (column o row) Cambia la disposición de los productos a una columna */
        align-items: center; /* Centra los productos */
    }

    .producto {
        width: 10%; /* Ajusta el tamaño de los productos en pantallas pequeñas */
        margin-bottom: 20px;
    }

    .imagenes-detalles img {
        width: 10%; /* Reduce el tamaño de las imágenes en pantallas pequeñas */
    }

}
